<%= flash[:notice] %>
<table>
    <thread>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Var_1</th>
            <th>Var_2</th>
            <th>Var_3</th>
            <th>Var_4</th>
            <th>Var_5</th>
            <th>Var_6</th>
            <th>Var_7</th>
            <th>Var_8</th>
        </tr>
    </thread>
    <tbody>
        <% @testdatum.each do |testdatum| %>
        <tr>
            <th>testdatum.date</th>
            <th>testdatum.time</th>
            <th>testdatum.var1</th>
            <th>testdatum.var2</th>
            <th>testdatum.var3</th>
            <th>testdatum.var4</th>
            <th>testdatum.Var5</th>
            <th>testdatum.var6</th>
            <th>testdatum.var7</th>
            <th>testdatum.var8</th>
        </tr>
        <% end %>
    </tbody>
</table>

<div>
    <h4>Import</h4>
    <%= form_tag testdatum_import_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
    <% end %>
    
</div>
